p{
    font-size:small;
}
h1 {
  text-shadow: 5px 5px 5px black;
	color:white;
    background: linear-gradient(0.25turn,rgb(72, 169, 255),blue);
}
h2{
    color:blue;
    
}

body {
    background-color: rgb(72, 169, 255);
}

a:link {
    color: rgb(26, 26, 222);
  }
  
  a:visited {
    color: rgb(255, 0, 98);
  }
  
  a:hover {
    text-decoration: none;
  }