p{
    font-size:small;
}
h1 {
	color:white;
    border: solid;
    border: dashed black;
    background: linear-gradient(0.25turn,red,blue);
}
h2{
    color:blue;
    
}
a:link {
    color: rgb(26, 26, 222);
  }
  
  a:visited {
    color: rgb(255, 0, 98);
  }
  
  a:hover {
    text-decoration: none;
  }